<div class="page-header">
    <h1>Devise example</h1>
</div>
{{#unless session.isAuthenticated}}
  <div class="alert alert-info">
    You can {{#link-to 'login' classNames='alert-link'}}log in{{/link-to}} with login <code>dawn@mail.com</code> and password <code>12345678</code>.
  </div>
{{/unless}}