<div class="page-header">
    <h1>Repertoire</h1>
</div>
{{#unless session.isAuthenticated}}
  <div class="alert alert-info">
    You can {{#link-to 'login' classNames='alert-link'}}log in{{/link-to}} with login <code>admin@example.com</code> and password <code>password</code>.
  </div>
{{/unless}}