
  <h3>{{input value=title focus-out="saveChanges"}}</h3>
  <table class="table table-hover table-striped table-bordered table-condensed">
      <tbody>
    <tr><td>
  <label for="selectSong">Add a new song</label>
  {{view "select" 
    id="selectSong"
    content=songLibrary
    optionValuePath="content.id"
    optionLabelPath="content.title"
    selection=selectedSong
    prompt="Select a song" }}
   </td></tr>
    
        {{#each listItem in model.listItems}}
          <tr><td>{{listItem.item.title}} <a href="#" class="deleteWithInRow" {{action "deleteItem" listItem}}><i class="fa fa-trash-o fa-fw"></i>Delete</a></td></tr>
        {{/each}}
      </tbody>
  </table>
