<div class="col-md-8" id="my_list">
  <h3>{{input value=title focus-out="saveChanges" size="100"}}</h3>
  <label for="selectSong">Add a new song</label>
  {{view "select" 
    id="selectSong"
    content=songLibrary
    optionValuePath="content.id"
    optionLabelPath="content.title"
    selection=selectedSong
    prompt="Please select a song" }}
    <button {{action 'addItemToList'}}>Add Song To List</button>
  <div class="list-group">
    <ul>
    {{#each li in model.listItems}}
      <ol>{{li.item.title}}
    {{/each}}
    </ul>
  </div>
</div>