<div class="col-md-3">
  <div id="mylists" class="list-group">
  {{#link-to 'items'}}Manage Song Library{{/link-to}}
    <h5>Set Lists</h5>
    {{#link-to 'my_lists.new'}}+ Add a new list{{/link-to}}
      {{#each}}
        {{#link-to 'my_list' this.id class="list-group-item" }}
          {{title}}
        {{/link-to}}
      {{/each}}
  </div>
</div>
<div class="col-md-9">
{{outlet}}
</div>